.THB {display:none;}
.UAH {display:none;}
.MXN {display:none;}
.SGD {display:none;}
.EUR {display:none;}
.USD {display:none;}
.IDR {display:none;}
.CAD {display:none;}
.NZD {display:none;}
.VND {display:none;}
.NOK {display:none;}
.RUB {display:none;}
.JPY {display:none;}
.BRL {display:none;}
.GBP {display:none;}
.MYR {display:none;}
.KRW {display:none;}
.PHP {display:none;}
.TRY {display:none;}
.AUD {display:none;}
