/* orange =
    color: #F85C37;
*/

a {
    transition: color .2s ease;
}

body {
    color: #999;
    font-size:20px;
    abackground: url("/img/cartographer.png")
}

label {
    font-weight: normal;
}

button {
    background: none;
    border: 3px solid #ccc;
}

h1#idx {
    font-family: 'Salsa';
    font-size:72px;
	font-weight: 700;
	letter-spacing: 2px;
    color:#EEE;
    text-shadow: 3px 3px #666;
}

td a img {
    max-width: 100px;
    box-shadow: 0 0 5px #000;
    background: url("/img/cartographer.png")
}

.card {
    max-height: 243px;
    max-width: 370px;
    margin: 0 auto 25px;
}

.card h3 {
    position: relative;
    z-index: 100;
    padding: 5px;
    color: #BBB;
    font-weight: 400;
    max-width:370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0px 0px -10px;
    transition: color .2s ease;
}

.card p {
    margin: 5px 0 0;
    font-size: 18px;
}

.cscard {
    margin: 0 auto 25px;
}

.cscard h3, button.cs h3 {
    position: relative;
    z-index: 100;
    padding: 5px;
    /*color: #BBB;*/
    font-weight: 400;
    max-width:370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: -30px 0 0;
    text-shadow: 1px 1px 3px #111;
    transition: all .2s ease;
}

.imgContainer {
    transition: all 0.2s ease;
    box-shadow: 0 0 5px #111;
    overflow: hidden;
    border: 1px solid #111;
}

.imgContainer img {
    width: 105%;
    margin: -5px;
    background: url("/img/cartographer.png");
}

a:hover .imgContainer {
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,.75);
}

.imgContainer.disabled:hover {
    box-shadow: 0 0 5px #111;
}

.cscard img, button.cs img {
    /* margin-top: -10px; */
    width: 100%;
    background: url("/img/cartographer.png");
    padding-bottom: 10px;
}

.cscard p {
    margin: 5px 0 0;
    font-size: 18px;
}

.vig {
    float:right;
    margin-top: -72px;
    padding: 10px;
    position:relative;
    z-index: 100;
    color: #7D7D7D;
}

.vig:hover {
    color: #F85C37;
}

.desc {
    margin: 0 0 20px;
}

#curbtn {
    padding: 0px;
    margin: 10px -15px 0;
    background: none;
    border: none;
    color:#666;
    font-size:18px;
}

#curbtn:hover span.caret {
    transition: all 0.2s ease 0s;
}

#curbtn:hover span.caret {
    border-top-color: #F85C37;
}

.navbar-header {
    width: 100%;
}

.dropdown-menu li:hover a {
    background-color:#ccc;
}

.price {
    color: #37F85C;
    margin: 0;
    font-family: "Lato";
    font-weight: 300;
}

.row {
    margin-bottom: 20px;
}

.title {
    margin: -20px 0 0;
}

.date {
    font-size:16px;
    margin: -30px 0 5px;
    color: #666;
}

p.loot {
    margin: -25px 0 20px;
}

.Common {
    transition: all 0.2s ease 0s;
    color: #B0C3D9 !important;
    border-color: #B0C3D9;
}

.Uncommon {
    transition: all 0.2s ease 0s;
    color: #5E98D9 !important;
    border-color: #5E98D9;
}

.Rare {
    transition: all 0.2s ease 0s;
    color: #4B69FF !important;
    border-color: #4B69FF;
}

.Mythical {
    transition: all 0.2s ease 0s;
    color: #8847FF !important;
    border-color: #8847FF;
}

.Legendary {
    transition: all 0.2s ease 0s;
    color: #D32CE6 !important;
    border-color: #D32CE6;
}

.Ancient {
    transition: all 0.2s ease 0s;
    color: #EB4B4B !important;
    border-color: #EB4B4B;
}

.Immortal {
    transition: all 0.2s ease 0s;
    color: #E4AE33 !important;
    border-color: #E4AE33;
}

.Arcana {
    transition: all 0.2s ease 0s;
    color: #ADE55C !important;
    border-color: #ADE55C;
}

.Inscribed {
    transition: all 0.2s ease 0s;
    color: #CF6A32 !important;
    border-color: #CF6A32;
}

.Elder {
    transition: all 0.2s ease 0s;
    color: #476291 !important;
    border-color: #476291;
}

.Genuine {
    transition: all 0.2s ease 0s;
    color: #4D7455 !important;
    border-color: #4D7455;
}

.Unusual {
    transition: all 0.2s ease 0s;
    color: #8650AC !important;
    border-color: #8650AC;
}

.Heroic {
    transition: all 0.2s ease 0s;
    color: #8650AC !important;
    border-color: #8650AC;
}

.Cursed {
    transition: all 0.2s ease 0s;
    color: #8650AC !important;
    border-color: #8650AC;
}

.SelfMade {
    transition: all 0.2s ease 0s;
    color: #70B04A !important;
    border-color: #70B04A;
}

.Frozen {
    transition: all 0.2s ease 0s;
    color: #4983B3 !important;
    border-color: #4983B3;
}

.Corrupted {
    transition: all 0.2s ease 0s;
    color: #A32C2E !important;
    border-color: #A32C2E;
}

.Favored {
    transition: all 0.2s ease 0s;
    color: #FFFF00 !important;
    border-color: #FFFF00;
}

.Autographed {
    transition: all 0.2s ease 0s;
    color: #ADE55C !important;
    border-color: #ADE55C;
}

.Ascendant {
    transition: all 0.2s ease 0s;
    color: #EB4B4B !important;
    border-color: #EB4B4B;
}

.Auspicious {
    transition: all 0.2s ease 0s;
    color: #32CD32 !important;
    border-color: #32CD32;
}

.Base.Grade {
    color: rgb(176, 195, 217);
    border-color: rgb(176, 195, 217);
    transition: all 0.2s ease 0s;
}

a.Base.Grade:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Consumer.Grade {
    color: rgb(176, 195, 217);
    border-color: rgb(176, 195, 217);
    transition: all 0.2s ease 0s;
}

a.Consumer.Grade:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Mil-Spec.Grade {
    color: rgb(75, 105, 255);
    border-color: rgb(75, 105, 255);
    transition: all 0.2s ease 0s;
}

a.Mil-Spec.Grade:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Industrial.Grade {
    color: rgb(94, 152, 217);
    border-color: rgb(94, 152, 217);
    transition: all 0.2s ease 0s;
}

a.Industrial.Grade:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Restricted {
    color: rgb(136, 71, 255);
    border-color: rgb(136, 71, 255);
    transition: all 0.2s ease 0s;
}

a.Restricted:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Classified {
    color: rgb(211, 44, 230);
    border-color: rgb(211, 44, 230);
    transition: all 0.2s ease 0s;
}

a.Classified:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.High.Grade {
    color: rgb(75, 105, 255);
    border-color: rgb(75, 105, 255);
    transition: all 0.2s ease 0s;
}

a.High.Grade:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Covert {
    color: rgb(235, 75, 75);
    border-color: rgb(235, 75, 75);
    transition: all 0.2s ease 0s;
}

a.Covert:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Remarkable {
    color: rgb(136, 71, 255);
    border-color: rgb(136, 71, 255);
    transition: all 0.2s ease 0s;
}

a.Remarkable:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Exotic {
    color: rgb(211, 44, 230);
    border-color: rgb(211, 44, 230);
    transition: all 0.2s ease 0s;
}

a.Exotic:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Contraband {
    color: rgb(228, 174, 57);
    border-color: rgb(228, 174, 57);
    transition: all 0.2s ease 0s;
}

a.Contraband:hover {
    color: #7B7B7B;
    border-color: #7B7B7B;
}

.Souvenir {
    color: rgb(255, 215, 0) !important;
    border-color: rgb(255, 215, 0);
    transition: all 0.2s ease 0s;
}

a.Souvenir:hover {
    color: #7B7B7B !important;
    border-color: #7B7B7B;
}

.StatTrak {
    color: rgb(134, 80, 172) !important;
    border-color: rgb(134, 80, 172);
    transition: all 0.2s ease 0s;
}

a.StatTrak:hover {
    color: #7B7B7B !important;
    border-color: #7B7B7B;
}

#f p a {
    color: #666;
    font-size: 16px;
}

#f p {
    color: #333;
    font-size: 16px;
    margin: 0 -15px;
}

#tres th {
    cursor: pointer;
}

img.set {
    width:100%;
    margin-bottom:-10px;
    box-shadow: 0 0 5px #000;
}

img.idx {
    width:100%;
    transition: all 0.2s ease 0s;
    box-shadow: 3px 3px 10px #111;
}

img.idx:hover {
    box-shadow: 1px 1px 5px #111;
}

h2.centered {
    padding:10px 0 10px;
    background-color: rgba(0,0,0,.2);
    margin-bottom: 20px;
    margin-top: -20px;
    height: 46px;
    box-shadow: 1px 1px 3px #111;
}

h2.centered div {
    width:50%;
    float:left;
}

h3 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
}

#ht {margin-bottom: -10px;}
#qt, #rt, #pt, #he, #hq, #hb {margin: -10px 0;}

.panel-title {
    font-size:20px;
}

.Add {
    line-height: 48px;
    font-size: 48px;
    font-weight: 600;
    width: 100%;
    height: 98px;
    color: #CCC;
    border: dashed;
    margin-bottom: 20px;
    outline: none;
}

.Add:hover {
    color: #F85C37;
    border-color: #F85C37;
}

#Search {
    margin-top: 20px;
}

.Btn {
    width: 100%;
    height: 98px;
    color: #CCC;
    font-size: 28px;
    line-height: 28px;
    padding: 0;
    margin-bottom: 20px;
    outline: none;
    overflow: hidden;
}

.Btn img {
    width: 110%;
}

.Btn:hover {
    color: #F85C37;
    border-color: #F85C37;
}

#All:hover {
    color: #CCC;
    border-color: #CCC;
}

.modal-dialog {
    width: 100%;
}


.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #333;
}


#slider { margin-top: 7px; }

.noUi-target {
    border: none !important;
}
.noUi-base
.noUi-origin
.noUi-handle
.noUi-handle-lower
.noUi-handle-upper
.noUi-connect {
}

#heroes {
    margin-top: 20px;
}

.Btn h3 {
    position: relative;
    z-index: 100;
    padding: 5px;
    background-color:rgba(0,0,0,.7);
    color: #BBB;
    box-shadow: 0 0 5px #000;
    font-weight: 400;
    max-width:370px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin: 70px 0 -100px;
}

.Btn:hover h3 {
    color: #F85C37;
    box-shadow: 0 0 3px #000;
}

.Btn.Hero {
    background: url("/img/cartographer.png");
    border: 1px solid #000;
    box-shadow: 0 0 3px 0 #090909;
    transition: all 0.2s ease 0s;
    overflow: hidden;
}

.Btn.Hero.Active {
    box-shadow: 0 0 5px #000;
}

#All, #Search {
    border: 3px solid;
}

#tagline {margin-top:-20px;}

#bloggin {margin-top:20px;}

#bloggin a {
    font-size:18px;
}

#dlogo {
    width: 50%;
    margin: 20px 0 50px;
}

.sortable th {
    cursor: pointer;
}

#bloggin a:hover {
}

#sec .cscard .imgContainer {
    max-height: 240px;
}

#sec .cscard img {
    width: 100%;
    margin-top:-10px;
}

#sec .cscard h3 {
    margin-top: 10px;
}

#sec #soon {
    position: absolute;
    width: 92%;
    top: 100px;
}

#sec #soon p {
    text-align: center;
    font-size: 24px;
    text-shadow: 1px 1px 3px #000;
    font-weight: 400;
}

#sec .card img {
    height:100%;
}

#sec .card h3 {
    margin: 10px 0 0;
}


#imggo {
    background: #000;
}

#imggo:hover {
    opacity: .4;
}

#csgo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.2s ease 0s;
    color: #999;
    text-shadow: 1px 1px 3px #000;
    opacity: 0;
}

#csgo:hover {
    opacity: 1;
}

#csgo:hover img {
}

#csgo img {
    position: absolute;
    right: 0px;
    bottom: -95px;
    width: 15%;
}

#csgo p {
    position: absolute;
    bottom: -05px;
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    color: #eee;
    cursor: default;
}

.collsize {
    float:right;
    font-size: 16px;
    color: #666;
    margin: 5px 10px 0 -1000px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: help;
}

.mycontainer {
    margin: -30px 0 20px;
}



.modal .container {
    background: #1A1A1A;
}

button.cs {
    background: url("/img/cartographer.png");
    border: 1px solid #000;
    box-shadow: 0 0 3px 0 #090909;
    transition: all 0.2s ease 0s;
    overflow: hidden;
}

button.cs:hover {
    box-shadow: 0 0 5px 1px #090909;
}

.modal button.close {
    background: none;
    border: none;
    color: #CCC;
    box-shadow: none;
}

button h3 {
    box-shadow: none;
    transition: all 0.2s ease 0s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.cs img {
    padding-bottom: 10px;
    width: 100%;
}

button.cs.Active h3 {
    margin: -56px 0 0;
}

.title h3.price {
    margin-top: 5px;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}

.card a:hover h3 {
    color: #F85C37 !important;
}

.cscard a:hover h3 {
    color: #F85C37 !important;
}
