<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A better Steam Market interface">
    <meta name="author" content="/u/Kamoi">

    <title>Roquelaire</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <link href="/css/currency.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!--[if lt IE 9]>
      <script async src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script async src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          {{^index}}<a class="navbar-brand" href="/"><i class="fa fa-rocket"></i></a>
              {{#cur}}
                <div class="btn-group pull-right">
                  <button id="curbtn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    {{ Code }} <span class="caret"></span>
                  </button>
                  <ul id="curmenu" class="dropdown-menu" role="menu">
                  </ul>
                </div>
              {{/cur}}
            {{/index}}
        </div>
      </div>
    </div>
	
    <div class="container" id="content">
        {{{content}}}
    </div>
	
	<div id="f">
		<div class="container">
			<div class="row">
                <div class="col-lg-12">
                    <p class="pull-left"><a href="http://blog.roquelaire.com">Blog</a>&nbsp&nbsp&nbsp<a href="http://www.reddit.com/message/compose/?to=Kamoi">Contact</a></p>
                    <p><a href="http://steampowered.com">Powered by Steam</a></p>
                </div>
			</div>
		</div>
	</div>



    <!-- I know nobody likes being tracked, but it's helpful for me to know when there's enough Russians to justify adding Ruble prices. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-23470610-4', 'roquelaire.com');
      ga('send', 'pageview');

    </script>
    <script src="/js/helpers.js"></script>
    <script src="/js/currency.js"></script>
    <style>
        {{#cur}}.{{Code}} {display: inline;} {{/cur}}
    </style>
  </body>
</html>
