<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/csgo">CS:GO</a> > <a href="/csgo/collections">Collections</a> > {{collection}}</h2>
    </div>
</div>

<div class="row">
  {{#container}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
                <h3 class="{{Quality}}">{{Name}}</h3>
                </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
 {{/container}}
    {{#key}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
                <h3 class="{{Quality}}">{{Name}}</h3>
                </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
     {{/key}}
    {{#guns}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
            <img src="{{BestImage}}" title="{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}"/>
            <h3 class="{{Quality}}">{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}</h3>
          </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    {{/guns}}
</div>
