    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 centered">
                <img id="dlogo" src="/img/csgo.png"/>
			</div>
		</div>
	</div>
    <div id="sec">
		<div class="container">
			<div class="row centered">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="cscard centered">
                    <a href="/csgo/search">
                    <div class="imgContainer">
                        <img src="/img/search.png" title="Search"/>
                    </div>
                    <h3>Search</h3>
                    </a>
                  </div>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="cscard centered">
                    <a href="/csgo/types">
                    <div class="imgContainer">
                        <img src="/img/type.png" title="Types"/>
                    </div>
                    <h3>Types</h3>
                    </a>
                  </div>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="cscard centered">
                    <a href="/csgo/collections">
                    <div class="imgContainer">
                        <img src="/img/collection.png" title="Collections"/>
                    </div>
                    <h3>Collections</h3>
                    </a>
                  </div>
				</div>
			</div>
		</div>
	</div>
