    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 centered">
                <img id="dlogo" src="/img/Dota.png"/>
			</div>
		</div>
	</div>
    <div id="sec">
		<div class="container">
			<div class="row centered">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="card centered">
                    <a href="/dota/search">
            <div class="imgContainer">
                    <img src="/img/items.png" title="Search"/>
                  </div>
                    <h3>Search</h3>
                    </a>
                  </div>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="card centered">
                    <a href="/dota/heroes">
            <div class="imgContainer">
                    <img src="/img/heroes.png" title="Heroes"/>
                  </div>
                    <h3>Heroes</h3>
                    </a>
                  </div>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="card centered">
                    <a href="/dota/player">
            <div class="imgContainer">
                    <img src="/img/player.png" title="Player Items"/>
                  </div>
                    <h3>Player Items</h3>
                    </a>
                  </div>
				</div>
			</div>
		</div>
	</div>
