{{#guns}}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h1><a href="/csgo/gun/{{Base}}">{{Base}}</a>{{#HasSkin}} | <a href="/csgo/skin/{{Skin}}">{{Skin}}</a>{{/HasSkin}}</h1>
            <p>
                A{{addn}} <span class="{{Quality}}">{{Quality}}</span> <a href="/csgo/type/{{Type}}">{{Type}}</a>
                {{#collection}} from <a href="/csgo/collection/{{collection}}">{{collection}}</a>{{/collection}}
            </p>
            {{^imakey}}
                {{^imabox}}
                    {{#Containers}}
                        {{#Item}}
                            <p class="mycontainer">Drops from <a href="/csgo/gun/{{Name}}/">{{Name}}</a></p>
                        {{/Item}}
                    {{/Containers}}
                {{/imabox}}
            {{/imakey}}
            <p class="desc">{{{Description}}}</p>
        </div>
    </div>

    {{^imakey}}
        {{^imabox}}
            {{#OnlyOne}}
                <div class="row" id="onlyone">
                    {{#gun}}
                    <div class="col-lg-offset-4 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{Name}}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
                      </div>
                    </div>
                    {{/gun}}
                </div>
            {{/OnlyOne}}
            {{^OnlyOne}}
            <div class="row" id="all">
                {{#BattleScarred}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{ Exterior }}</h3>
                            </div>
                        </a>
                        <p class="price">{{ #Price }}{{{.}}}{{ /Price}}{{#BattleScarredStatTrak}} | <a class="StatTrak" title="{{Name}}" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/BattleScarredStatTrak}}{{#BattleScarredSouvenir}} | <a title="{{Name}}" class="Souvenir" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/BattleScarredSouvenir}}</p>
                        {{^NullGame}}<a class="vig" title="View in game" href="{{InGame}}"><i class="fa fa-external-link-square"></i></a>{{/NullGame}}
                      </div>
                    </div>
                {{/BattleScarred}}
                {{#WellWorn}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{ Exterior }}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}{{#WellWornStatTrak}} | <a class="StatTrak" title="{{Name}}" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/WellWornStatTrak}}{{#WellWornSouvenir}} | <a title="{{Name}}" class="Souvenir" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/WellWornSouvenir}}</p>
                        {{^NullGame}}<a class="vig" title="View in game" href="{{InGame}}"><i class="fa fa-external-link-square"></i></a>{{/NullGame}}
                        </div>
                    </div>
                {{/WellWorn}}
                {{#FieldTested}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{ Exterior }}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}{{#FieldTestedStatTrak}} | <a class="StatTrak" title="{{Name}}" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/FieldTestedStatTrak}}{{#FieldTestedSouvenir}} | <a title="{{Name}}" class="Souvenir" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/FieldTestedSouvenir}}</p>
                        {{^NullGame}}<a class="vig" title="View in game" href="{{InGame}}"><i class="fa fa-external-link-square"></i></a>{{/NullGame}}
                      </div>
                    </div>
                {{/FieldTested}}
                {{#MinimalWear}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{ Exterior }}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}{{#MinimalWearStatTrak}} | <a class="StatTrak" title="{{Name}}" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/MinimalWearStatTrak}}{{#MinimalWearSouvenir}} | <a title="{{Name}}" class="Souvenir" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/MinimalWearSouvenir}}</p>
                        {{^NullGame}}<a class="vig" title="View in game" href="{{InGame}}"><i class="fa fa-external-link-square"></i></a>{{/NullGame}}
                      </div>
                    </div>
                {{/MinimalWear}}
                {{#FactoryNew}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{ Exterior }}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}{{#FactoryNewStatTrak}} | <a class="StatTrak" title="{{Name}}" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/FactoryNewStatTrak}}{{#FactoryNewSouvenir}} | <a title="{{Name}}" class="Souvenir" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/FactoryNewSouvenir}}</p>
                        {{^NullGame}}<a class="vig" title="View in game" href="{{InGame}}"><i class="fa fa-external-link-square"></i></a>{{/NullGame}}
                      </div>
                    </div>
                {{/FactoryNew}}
                {{#Plain}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{Name}}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}{{#PlainStatTrak}} | <a class="StatTrak" title="{{Name}}" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/PlainStatTrak}}{{#PlainSouvenir}} | <a title="{{Name}}" class="Souvenir" href="{{Link}}">{{#Price}}{{{.}}}{{/Price}}</a>{{/PlainSouvenir}}</p>
                        {{^NullGame}}<a class="vig" title="View in game" href="{{InGame}}"><i class="fa fa-external-link-square"></i></a>{{/NullGame}}
                      </div>
                    </div>
                {{/Plain}}
                {{#Holo}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{Name}}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
                      </div>
                    </div>
                {{/Holo}}
                {{#Foil}}
                    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="{{Link}}">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            <h3 class="{{Quality}}">{{Name}}</h3>
                            </div>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
                      </div>
                    </div>
                {{/Foil}}
            </div>
            {{/OnlyOne}}
        {{/imabox}}
    {{/imakey}}
{{/guns}}



{{#imabox}}
    {{#HasKey}}
    <div class="row" id="haskey">
        <h2 class="centered">
            <div>Container</div>
            <div>Key</div>
        </h2>
        <div class="col-lg-offset-1 col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <div class="cscard centered">
            <a href="{{Link}}">
                <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
                <h3 class="{{Quality}}">{{Name}}</h3>
                </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
        {{#boxkey}}
            <div class="col-lg-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <div class="cscard centered">
                <a href="/csgo/gun/{{Base}}/">
                    <div class="imgContainer">
                    <img src="{{Image}}" title="{{Name}}"/>
                    <h3 class="{{Quality}}">{{Name}}</h3>
                    </div>
                </a>
                <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
              </div>
            </div>
        {{/boxkey}}
    </div>
    {{/HasKey}}
    {{^HasKey}}
        <div class="row">
            <div class="col-lg-offset-4 col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <div class="cscard centered">
                <a href="{{Link}}">
                    <div class="imgContainer">
                    <img src="{{Image}}" title="{{Name}}"/>
                    <h3 class="{{Quality}}">{{Name}}</h3>
                    </div>
                </a>
                <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
              </div>
            </div>
        </div>
    {{/HasKey}}
    <div class="row">
    <h2 class="centered">Contents</h2>
    {{#contents}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
            <img src="{{BestImage}}" title="{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}"/>
            <h3 class="{{Quality}}">{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}</h3>
          </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    {{/contents}}
    </div>
{{/imabox}}

{{#imakey}}
    {{#OneKeyBox}}
      <div class="row">
        <h2 class="centered">
        <div>Container</div>
        <div>Key</div>
        </h2>
            {{#keybox}}
                    <div class="col-lg-offset-1 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                      <div class="cscard centered">
                        <a href="/csgo/gun/{{Name}}/">
                            <div class="imgContainer">
                            <img src="{{Image}}" title="{{Name}}"/>
                            </div>
                            <h3 class="{{Quality}}">{{Name}}</h3>
                        </a>
                        <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
                      </div>
                    </div>
            {{/keybox}}
            <div class="col-lg-offset-2 col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <div class="cscard centered">
                <a href="/csgo/gun/{{Name}}/">
                    <div class="imgContainer">
                    <img src="{{Image}}" title="{{Name}}"/>
                    </div>
                    <h3 class="{{Quality}}">{{Name}}</h3>
                </a>
                <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
              </div>
            </div>
        </div>
    {{/OneKeyBox}}
    {{^OneKeyBox}}
    <div class="row">
        <div class="col-lg-offset-4 col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <div class="cscard centered">
            <a href="{{Link}}">
                <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
                </div>
                <h3 class="{{Quality}}">{{Name}}</h3>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    </div>
        <div class="row">
        <h2 class="centered">Opens</h2>
        {{#boxes}}
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
              <div class="cscard centered">
                <a href="/csgo/gun/{{Name}}/">
                    <div class="imgContainer">
                    <img src="{{Image}}" title="{{Name}}"/>
                    </div>
                    <h3 class="{{Quality}}">{{Name}}</h3>
                </a>
                <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
              </div>
            </div>
        {{/boxes}}
        </div>
    {{/OneKeyBox}}
{{/imakey}}
