<div class="row">
    <div class="col-lg-8 col-lg-offset-2 centered">
        <h2><a href="/csgo">CS:GO</a> > <a href="/csgo/type/{{type}}">{{type}}</a> > {{base}}</h2>
        <p class="desc">{{{Description}}}</p>
    </div>
</div>
<div class="row">
    {{#guns}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
            <img src="{{BestImage}}" title="{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}"/>
            <h3 class="{{Quality}}">{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}</h3>
          </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    {{/guns}}
</div>
