

{{#hero}}
<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/dota/heroes">Heroes</a> > {{Name}}</h2>
    </div>
</div>

<div class="row">
    <h2 class="centered">Slots</h2>
    {{#Slots}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="{{SlotLink}}">
            <div class="imgContainer">
            <img src="{{Image}}" title="{{Name}}"/>
          </div>
            <h3>{{Name}}</h3>
            </a>
          </div>
        </div>
    {{/Slots}}
</div>
<div class="row" {{^Sets}}style="display:none;"{{/Sets}}>
    <h2 class="centered">Sets</h2>
    {{#Sets}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="{{SetLink}}">
            <div class="imgContainer">
            <img src="{{Image}}" title="{{Name}}"/>
          </div>
            <h3>{{Name}}</h3>
            </a>
          </div>
        </div>
    {{/Sets}}
</div>
{{/hero}}
