
<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/dota">DotA 2</a> > Heroes</h2>
    </div>
</div>

<div id="heroes" class="row">
{{#heroes}}
        <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <div class="card centered">
            <a href="{{HeroLink}}">
            <div class="imgContainer">
            <img style="width:100%;" src="{{Image}}" title="{{Name}}"/>
            </div>
            <h3>{{Name}}</h3>
            </a>
          </div>
        </div>
{{/heroes}}
</div>
