<form action="/image" method="post" class="form-horizontal">
    <fieldset>
        <input id="name" placeholder="name" value="{{ name }}" type="text" name="name"/></br>
        <input id="names" placeholder="names" value="{{ names }}" type="text" name="names"/></br>
        <input id="image" placeholder="image" value="{{ image }}" type="text" name="image"/></br>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>
