<div class="container">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 centered">
            <h1 id='idx'>Roquelaire</h1>
        </div>
    </div>
    <div class="row" id="tagline">
        <div class="col-lg-10 col-lg-offset-1 centered">
            <p>A better Steam Market interface.</p>
        </div>
    </div>
</div>
<div id="sec">
    <div class="container">
        <div class="row centered">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="/dota">
                    <img class="idx" src="/img/idxdota.jpg" title="DotA 2"/>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <a href="/csgo">
                    <img class="idx" src="/img/csgo.jpg" title="Counter-Strike: Global Offensive"/>
                </a>
            </div>
        </div>
    </div>
</div>
    <div id="bloggin" class="centered">
        <p>New currencies, better data.</p>
    </div>
