
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 centered">
                <h1 id='idx'>Roquelaire</h1>
			</div>
		</div>
        <div class="row" id="tagline">
            <div class="col-lg-10 col-lg-offset-1 centered">
                <p>A better Steam Market interface.</p>
			</div>
		</div>
	</div>

	<div id="sec">
		<div class="container">
			<div class="row centered">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="card centered">
                    <a href="/items">
                    <h3>Items</h3>
                    <img style="width:100%;" src="/img/items.png" title="Items"/>
                    </a>
                  </div>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="card centered">
                    <a href="/heroes">
                    <h3>Heroes</h3>
                    <img style="width:100%;" src="/img/heroes.png" title="Heroes"/>
                    </a>
                  </div>
				</div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <div class="card centered">
                    <a href="/player">
                    <h3>Player Items</h3>
                    <img style="width:100%;" src="/img/player.png" title="Player Items"/>
                    </a>
                  </div>
				</div>
			</div>
		</div>
	</div>
    <div id="bloggin" class="centered">
        <p><a href="http://blog.roquelaire.com/post/88411007912/roquelaire-1-00a-slots-currencies-and-more-images">Roquelaire 1.00a; slots, currencies, and more images.</a></p>
    </div>
