<div class="row">
    <div class="col-lg-12">
        <h2 id="ht">
            Heroes
        </h2>
    </div>
</div>
<div class="row centered" id="Heroes">
    {{#h}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Hero Active" id="{{Name}}">
                <h3>{{Name}}</h3>
                <img title="{{Name}}" src="{{Image}}"/>
            </button>
        </div>
    {{/h}}
    {{^h}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button disabled class="Btn" id="All">All</button>
        </div>
    {{/h}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#heroModal">+</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 id="qt">
            Qualities
        </h2>
    </div>
</div>
<div class="row centered" id="Qualities">
    {{^q}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button disabled class="Btn" id="All">All</button>
    </div>
    {{/q}}
    {{#q}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Quality Active" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
        </div>
    {{/q}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#qualModal">+</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 id="rt">
            Rarities
        </h2>
    </div>
</div>
<div class="row centered" id="Rarities">
    {{#r}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Rarity Active" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
        </div>
    {{/r}}
    {{^r}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button disabled class="Btn" id="All">All</button>
    </div>
    {{/r}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#rareModal">+</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2 id="pt">
            Price
        </h2>
    </div>
</div>
<div class="row centered" id="Price">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <span style="width:100%;" id="lprice">${{^lp}}{{lowprice}}{{/lp}}{{#lp}}{{lp}}{{/lp}}</span>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-8">
        <div id="slider"></div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <span style="width:100%;" id="hprice">${{^hp}}{{highprice}}{{/hp}}{{#hp}}{{hp}}{{/hp}}</span>
    </div>
</div>
<div class="row centered">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Btn" id="Search">Search</button>
    </div>
</div>
<div class="row" id="results">
    {{#derp}}
    <table class="table sortable" id="tres">
        <thead>
            <tr>
                <th style="width:75px;">Image</th>
                <th>Name & Set</th>
                <th>Hero</th>
                <th>Slot</th>
                <th>Rarity</th>
                <th class="sorttable_numeric" id="thp">Price<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
            </tr>
        </thead>
        <tbody>
    {{/derp}}
            {{ #items }}
            <tr>
                <td><a href="{{ItemLink}}"><img src="{{Image}}" title="{{Name}}"></a></td>
                <td>
                    <a class="{{Rarity}} {{Quality}}" href="{{Link}}">{{Name}}</a>
                    </br>
                    <a href="{{SetLink}}">{{SetName}}</a>
                </td>
                <td><a href="{{HeroLink}}">{{HeroName}}</a></td>
                <td><a href="{{SlotLink}}">{{SlotName}}</a></td>
                <td class="{{Rarity}}">{{Rarity}}</td>
                <td><span class="price">{{#Price}}{{{.}}}{{/Price}}</span></td>
            </tr>
            {{ /items }}
    {{#derp}}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    {{/derp}}
</div>



<div class="modal" id="heroModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Heroes</h4>
      </div>
      <div class="modal-body">
    <div class="row">
        {{#heroes}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Hero" id="{{Name}}">
                <h3>{{Name}}</h3>
                <img title="{{Name}}" src="{{Image}}"/>
            </button>
        </div>
        {{/heroes}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="qualModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Qualities</h4>
      </div>
      <div class="modal-body">
    <div class="row">
    {{#qualities}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Quality" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
        </div>
    {{/qualities}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal" id="rareModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rarities</h4>
      </div>
      <div class="modal-body">
    <div class="row">
    {{#rarities}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Rarity" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
        </div>
    {{/rarities}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
</script>
<script src="/js/items.js"></script>
<script src="/js/sorttable.js"></script>
<link href="/css/jquery.nouislider.css" rel="stylesheet">
<script src="/js/jquery.nouislider.min.js"></script>
<script>
    hero = new Array();
    {{#h}}
        hero.push("{{Name}}");
    {{/h}}
    {{^h}}
    hero = ["All",];
    {{/h}}
    qual = new Array();
    {{#q}}
        qual.push("{{.}}");
    {{/q}}
    {{^q}}
    qual = ["All",];
    {{/q}}
    rare = new Array();
    {{#r}}
        rare.push("{{.}}");
    {{/r}}
    {{^r}}
    rare = ["All",];
    {{/r}}
    lp = "${{lp}}";
    hp = "${{hp}}";
    var thp = document.getElementById("thp");

    function sleep(millis, callback) {
        setTimeout(function()
                { callback(); }
        , millis);
    }

    function sort() {
        sorttable.innerSortFunction.apply(thp, []);
    }
    sleep(500, sort);


    minp = "{{ minprice }}";
    maxp = "{{ maxprice }}";


    // slider setup
    $("#slider").noUiSlider({
        start: [{{lp}}, {{hp}}],
        range: {
            min: [0.00, 0.01],
            '33%': [5.00, 1.00],
            '66%': [50.00, 10.00],
            max: [400.00],
        },
        connect: true,
        serialization: {
            upper: [
                $.Link({
                    target: $("#hprice"),
                    format: {
                        {{^cur}}
                        prefix: "$",
                        mark: ".",
                        {{/cur}}
                        {{#cur}}
                        decimals: 2,
                        mark: "{{Separator}}",
                        prefix: "{{{Prefix}}}",
                        postfix: "{{{Suffix}}}",
                        decoder: function( value ) {
                            return value / {{ Rate }};
                        },
                        encoder: function( value ) {
                            return value * {{ Rate }};
                        },
                        {{/cur}}
                    },
                }),
            ],
            lower: [
                $.Link({
                    target: $("#lprice"),
                    format: {
                        {{^cur}}
                        mark: ".",
                        prefix: "$",
                        {{/cur}}
                        {{#cur}}
                        decimals: 2,
                        mark: "{{Separator}}",
                        prefix: "{{{Prefix}}}",
                        postfix: "{{{Suffix}}}",
                        decoder: function( value ) {
                            return value / {{ Rate }};
                        },
                        encoder: function( value ) {
                            return value * {{ Rate }};
                        },
                        {{/cur}}
                    },
                })
            ]
        },
    });
</script>
