{{#item}}
<div class="row">
    <div class="col-lg-4">
        <div class="imgContainer">
            <img src="{{Image}}"/>
        </div>
    </div>
    <div class="col-lg-8">
        <h1 class="{{Rarity}}">{{Name}}</h1>
        <p class="description">A{{addn}} <span class="{{Rarity}}">{{Rarity}}</span> <a href="{{SlotLink}}">{{SlotName}}</a> for <a href="{{HeroLink}}">{{HeroName}}</a>{{#Set}} from <a href="{{SetLink}}">{{SetName}}</a>{{/Set}}.</p>
        {{#Box}}<p class="loot">Contained in <a href="{{ItemLink}}">{{Name}}</a>.</p>{{/Box}}
        {{#Description}}<p>{{{Description}}}</p>{{/Description}}
    </div>
</div>

<div class="row">
<div class="col-lg-12">
<table class="table sortable" id="titem">
<tr>
<th id="thp">Name<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
<th class="sorttable_numeric">Price</th>
</tr>
{{#MarketItems}}
        <tr>
            <td>
                <a class="{{Rarity}} {{Quality}} " href="{{ Link }}">
                    {{ Name }}
                </a>
            </td>
            <td>
                <span class="price">{{#Price}}{{{.}}}{{/Price}}</span>
            </td>
        </tr>
{{/MarketItems}}
</table>
</div>
</div>
{{/item}}
<script src="/js/sorttable.js"></script>
<script>
    var thp = document.getElementById("thp");
    function sleep(millis, callback) {
        setTimeout(function()
                { callback(); }
        , millis);
    }

    function sort() {
        sorttable.innerSortFunction.apply(thp, []);
    }
    sleep(500, sort);
</script>
