<div id="heroes">
    {{#heroes}}
        {{.}}
    {{/heroes}}
</div>
<div id="qualities">
    {{#qualities}}
        {{.}}
    {{/qualities}}
</div>
<div id="rarities">
    {{#rarities}}
        {{.}}
    {{/rarities}}
</div>
<div id="price">
</div>

<table class="table">
<tr>
<th>Name</th>
<th>Hero</th>
<th>Slot</th>
<th>Set</th>
<th>Rarity</th>
<th>Description</th>
<th>Price</th>
</tr>
{{#items}}
        <tr>
            <td>
                <a href="/item/{{ Base }}">
                    {{ Name }}
                </a>
            </td>
            <td>
                <a href="/hero/{{ Hero }}">
                    {{ Hero }}
                </a>
            </td>
            <td>
                <a href="/hero/{{ Hero }}/{{ Slot }}">
                    {{ Slot }}
                </a>
            </td>
            <td>
                <a href="/set/{{Set}}">
                    {{ Set }}
                </a>
            </td>
            <td>
                    {{ Rarity }}
            </td>
            <td>
                    {{ Description }}
            </td>
            <td>
                <span class="price">{{ Price }}</span>
            </td>
        </tr>
{{/items}}
</table>
