{{#item}}
<div class="row">
    <div class="col-lg-4">
        <div class="imgContainer">
            <img src="{{Image}}"/>
        </div>
    </div>
    <div class="col-lg-8">
        <h1 class="{{Rarity}}">{{Name}}</h1>
        <p class="description">A{{addn}} <span class="{{Rarity}}">{{Rarity}}</span>{{#SlotName}} <a href="/dota/player/{{SlotName}}">{{SlotName}}</a>{{/SlotName}}.</p>
        {{^box}}{{#Box}}<p class="loot">Contained in <a href="/dota/item/{{Name}}">{{Name}}</a>.</p>{{/Box}}{{/box}}
        {{#Description}}<p>{{{Description}}}</p>{{/Description}}
    </div>
</div>

<div class="row">
<div class="col-lg-12">
<table class="table sortable" id="titem">
<tr>
<th id="thp">Name<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
<th class="sorttable_numeric">Price</th>
</tr>
{{#MarketItems}}
    <tr>
        <td>
            <a class="{{Rarity}} {{Quality}} " href="{{ Link }}">
                {{ Name }}
            </a>
        </td>
        <td>
            <span class="price">{{#Price}}{{{.}}}{{/Price}}</span>
        </td>
    </tr>
{{/MarketItems}}
</table>
</div>
</div>

{{#box}}
{{#LootList}}
<div class="row">
    <h2 class="centered">Contents</h2>
    {{#Items}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="/dota{{#Hero}}/hero/{{Name}}/{{/Hero}}{{#Slot}}{{Name}}{{/Slot}}{{^Hero}}/item{{/Hero}}/{{Name}}">
            <div class="imgContainer">
            <img src="{{Image}}" title="{{Name}}"/>
            </div>
            <h3 class="{{Rarity}}">{{Name}}</h3>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    {{/Items}}
</div>
{{/LootList}}
{{/box}}

{{/item}}
<script src="/js/sorttable.js"></script>
<script>
    var thp = document.getElementById("thp");
    function sleep(millis, callback) {
        setTimeout(function()
                { callback(); }
        , millis);
    }

    function sort() {
        sorttable.innerSortFunction.apply(thp, []);
    }
    sleep(500, sort);
</script>
