<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/dota">DotA 2</a> > Player Items</h2>
    </div>
</div>
<div class="row">
{{#slots}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="/dota/player/{{Name}}">
            <div class="imgContainer">
                <img src="{{Image}}"/>
            </div>
            <h3>{{Name}}</h3>
            </a>
          </div>
        </div>
{{/slots}}
</div>
