<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/dota/player">Player</a> > {{ slot }}</h2>
    </div>
</div>
<div class="row">
    {{#misc}}
        {{#Items}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="{{ItemLink}}">
            <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
            </div>
                <h3 class="{{Rarity}}">{{Name}}</h3>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
        {{/Items}}
    {{/misc}}
</div>
