<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/csgo">CS:GO</a> > Qualities</h2>
    </div>
</div>
{{#gbcs}}
<h2 class="centered"><a href="/csgo/quality/{{Name}}">{{Name}}</a><span title="Number of items in this collection." class="collsize">{{BucketSize}}</span></h2>
<div class="row">
    {{#RandomFour}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
            <img src="{{BestImage}}" title="{{Base}}"/>
        </div>
            <h3 class="{{Quality}}">{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}</h3>
            </a>
            <p class="price">${{ Low }} — ${{ High }}</p>
          </div>
        </div>
    {{/RandomFour}}
</div>
{{/gbcs}}
