<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/csgo">CS:GO</a> > <a href="/csgo/qualities">Qualities</a> > {{quality}}</h2>
    </div>
</div>

<div class="row">
  {{#container}}
        {{#Item}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
                </div>
                <h3 class="{{Quality}}">{{Name}}</h3>
            </a>
            <p class="price">${{ Price }}</p>
          </div>
        </div>
        {{/Item}}
 {{/container}}
    {{#key}}
        {{#Item}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
                </div>
                <h3 class="{{Quality}}">{{Name}}</h3>
            </a>
            <p class="price">${{ Price }}</p>
          </div>
        </div>
        {{/Item}}
     {{/key}}
    {{#guns}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
            <img src="{{BestImage}}" title="{{Base}}"/>
          </div>
            <h3 class="{{Quality}}">{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}</h3>
            </a>
            <p class="price">${{ Low }} — ${{ High }}</p>
          </div>
        </div>
    {{/guns}}
</div>
