<div class="row">
    <div class="col-lg-12">
        <h2 id="ht">
            Types
        </h2>
    </div>
</div>
<div class="row centered" id="Types">
    {{#t}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Type Active cs" id="{{Name}}"><span class="{{Name}}">{{Name}}</span></button>
        </div>
    {{/t}}
    {{^t}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button disabled class="Btn" id="All">All</button>
        </div>
    {{/t}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#typeModal">+</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 id="hb">
            Bases
        </h2>
    </div>
</div>
<div class="row centered" id="Bases">
    {{#ab}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Base Active cs" id="{{Name}}"><span class="{{Name}}">{{Name}}</span></button>
        </div>
    {{/ab}}
    {{^ab}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button disabled class="Btn" id="All">All</button>
        </div>
    {{/ab}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#baseModal">+</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 id="hq">
            Qualities
        </h2>
    </div>
</div>
<div class="row centered" id="Qualities">
    {{^aq}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button disabled class="Btn" id="All">All</button>
    </div>
    {{/aq}}
    {{#aq}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Btn Quality Active cs" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
    </div>
    {{/aq}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#qualModal">+</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <h2 id="he">
            Exteriors
        </h2>
    </div>
</div>
<div class="row centered" id="Exteriors">
    {{^ae}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button disabled class="Btn" id="All">All</button>
    </div>
    {{/ae}}
    {{#ae}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Btn Exterior Active cs" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
    </div>
    {{/ae}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Add" id="Add" data-toggle="modal" data-target="#exteriorModal">+</button>
    </div>
</div>

<div class="checkbox">
  <label>
    <input id="souv" {{#souvenir}}checked{{/souvenir}} type="checkbox"> Souvenir
  </label>
</div>

<div class="checkbox">
  <label>
    <input id="stat" {{#stattrak}}checked{{/stattrak}} type="checkbox"> StatTrakTM
  </label>
</div>

<div class="row centered" id="Price">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <span style="width:100%;" id="lprice">${{^lp}}{{lowprice}}{{/lp}}{{#lp}}{{lp}}{{/lp}}</span>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-6 col-lg-8">
        <div id="slider"></div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <span style="width:100%;" id="hprice">${{^hp}}{{highprice}}{{/hp}}{{#hp}}{{hp}}{{/hp}}</span>
    </div>
</div>

<div class="row centered">
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
        <button class="Btn" id="Search">Search</button>
    </div>
</div>

<div class="row" id="results">
    {{#derp}}
    <table class="table sortable" id="tres">
        <thead>
            <tr>
                <th style="width:75px;">Image</th>
                <th>Name & Collection</th>
                <th>Quality</th>
                <th>Type</th>
                <th class="sorttable_numeric" id="thp">Price<span id="sorttable_sortfwdind">&nbsp;▾</span></th>
            </tr>
        </thead>
        <tbody>
            {{ #guns }}
            <tr>
                <td><a href="/csgo/gun/{{Base}}/{{Skin}}"><img src="{{Image}}" title="{{Name}}"></a></td>
                <td>
                    <a class="{{Quality}}{{#Stattrak}} StatTrak{{/Stattrak}}{{#Souvenir}} Souvenir{{/Souvenir}}" href="{{Link}}">{{Name}}</a>
                    </br>
                    <a href="/csgo/collection/{{Collection}}">{{Collection}}</a>
                </td>
                <td><span class="{{Quality}}">{{Quality}}</span></td>
                <td>{{Type}}</td>
                <td><span class="price">{{#Price}}{{{.}}}{{/Price}}</span></td>
            </tr>
            {{ /guns }}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    {{/derp}}
</div>

<div class="modal cs" id="typeModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Types</h4>
      </div>
      <div class="modal-body">
    <div class="row">
        {{#tc}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Type cs" id="{{Name}}"><span class="{{Name}}">{{Name}}</span></button>
        </div>
        {{/tc}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal cs" id="baseModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Bases</h4>
      </div>
      <div class="modal-body">
    <div class="row">
        {{#pb}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Base cs" id="{{Name}}"><span class="{{Name}}">{{Name}}</span></button>
        </div>
        {{/pb}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal cs" id="exteriorModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Exteriors</h4>
      </div>
      <div class="modal-body">
    <div class="row">
    {{#pe}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Exterior cs" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
        </div>
    {{/pe}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal cs" id="qualModal">
  <div class="modal-dialog">
    <div class="modal-content container">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Qualities</h4>
      </div>
      <div class="modal-body">
    <div class="row">
    {{#pq}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
            <button class="Btn Quality cs" id="{{.}}"><span class="{{.}}">{{.}}</span></button>
        </div>
    {{/pq}}
    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/js/search.js"></script>
<script src="/js/sorttable.js"></script>
<link href="/css/jquery.nouislider.css" rel="stylesheet">
<script src="/js/jquery.nouislider.min.js"></script>
<script>
    type = new Array();
    {{#t}}
        type.push("{{Name}}");
    {{/t}}
    {{^t}}
    type = ["All",];
    {{/t}}
    base = new Array();
    {{#ab}}
    base.push("{{Name}}");
    {{/ab}}
    {{^ab}}
    base = ["All",];
    {{/ab}}
    qual = new Array();
    {{#aq}}
    qual.push("{{.}}");
    {{/aq}}
    {{^aq}}
    qual = ["All",];
    {{/aq}}
    exterior = new Array();
    {{#ae}}
    exterior.push("{{.}}");
    {{/ae}}
    {{^ae}}
    exterior = ["All",];
    {{/ae}}
    lp = "${{lp}}";
    hp = "${{hp}}";
    var thp = document.getElementById("thp");

    function sleep(millis, callback) {
        setTimeout(function()
                { callback(); }
        , millis);
    }

    function sort() {
        sorttable.innerSortFunction.apply(thp, []);
    }
    sleep(500, sort);

    minp = "{{ minprice }}";
    maxp = "{{ maxprice }}";

    // slider setup
    $("#slider").noUiSlider({
        start: [{{lp}}, {{hp}}],
        range: {
            min: [0.00, 0.01],
            '33%': [5.00, 1.00],
            '66%': [50.00, 10.00],
            max: [400.00],
        },
        connect: true,
        serialization: {
            upper: [
                $.Link({
                    target: $("#hprice"),
                    format: {
                        {{^cur}}
                        prefix: "$",
                        mark: ".",
                        {{/cur}}
                        {{#cur}}
                        decimals: 2,
                        mark: "{{Separator}}",
                        prefix: "{{{Prefix}}}",
                        postfix: "{{{Suffix}}}",
                        decoder: function( value ) {
                            return value / {{ Rate }};
                        },
                        encoder: function( value ) {
                            return value * {{ Rate }};
                        },
                        {{/cur}}
                    },
                }),
            ],
            lower: [
                $.Link({
                    target: $("#lprice"),
                    format: {
                        {{^cur}}
                        mark: ".",
                        prefix: "$",
                        {{/cur}}
                        {{#cur}}
                        decimals: 2,
                        mark: "{{Separator}}",
                        prefix: "{{{Prefix}}}",
                        postfix: "{{{Suffix}}}",
                        decoder: function( value ) {
                            return value / {{ Rate }};
                        },
                        encoder: function( value ) {
                            return value * {{ Rate }};
                        },
                        {{/cur}}
                    },
                })
            ]
        },
    });
</script>
