{{#set}}
<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/dota/heroes">Heroes</a> > <a href="{{HeroLink}}">{{HeroName}}</a> > {{Name}}</h2>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xs-offset-3 col-sm-offset-3 col-md-offset-4 cold-lg-offset-4">
                <div class="imgContainer">
                    <img src="{{Image}}" title="{{Name}}"></img>
                </div>
                <h3 class="price">{{ #Price }}{{{.}}}{{/Price}}</h3>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h2 class="centered">Items</h2>
    {{#Items}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="{{ItemLink}}">
            <div class="imgContainer">
                <img src="{{Image}}" title="{{Name}}"/>
            </div>
                <h3 class="{{Rarity}}">{{Name}}</h3>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    {{/Items}}
</div>
{{/set}}
