<div class="row">
    <div class="col-lg-12 centered title">
        {{#hero}}
        <h2><a href="/dota/heroes">Heroes</a> > <a href="{{HeroLink}}">{{Name}}
        {{/hero}}
        {{#slot}}
        </a> > {{ Name }}</h2>
        {{/slot}}
    </div>
</div>
<div class="row">
    {{#slot}}
        {{#Items}}
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
          <div class="card centered">
            <a href="{{ItemLink}}">
            <div class="imgContainer">
            <img src="{{Image}}" title="{{Name}}"/>
            </div>
            <h3 class="{{Rarity}}">{{Name}}</h3>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
        {{/Items}}
    {{/slot}}
</div>
