<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/csgo">CS:GO</a> > Types</h2>
    </div>
</div>
<div class="row">
    {{#types}}
    <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
      <div class="cscard centered">
        <a href="/csgo/type/{{Name}}">
        <div class="imgContainer">
            <img style="width:100%;" src="{{Image}}" title="Items"/>
        <h3>{{Plural}}</h3>
        </div>
        </a>
      </div>
    </div>
    {{/types}}
</div>
