<div class="row">
    <div class="col-lg-12 centered title">
        <h2><a href="/csgo">CS:GO</a> > <a href="/csgo/types">Types</a> > {{type}}</h2>
        <p class="desc">{{{Description}}}</p>
    </div>
</div>
{{^multiples}}
<div class="row">
{{/multiples}}
{{#gbcs}}
{{^OnlyOne}}
<h2 class="centered"><a href="/csgo/gun/{{Name}}">{{Name}}</a><span title="Number of {{Plural}}." class="collsize">{{BucketSize}}</span></h2>
<div class="row">
{{/OnlyOne}}
    {{#RandomFour}}
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="cscard centered">
            <a href="/csgo/gun/{{Base}}/{{#HasSkin}}{{Skin}}{{/HasSkin}}">
                <div class="imgContainer">
            <img src="{{BestImage}}" title="{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}"/>
            <h3 class="{{Quality}}">{{Base}}{{#HasSkin}} | {{Skin}}{{/HasSkin}}</h3>
        </div>
            </a>
            <p class="price">{{#Price}}{{{.}}}{{/Price}}</p>
          </div>
        </div>
    {{/RandomFour}}
{{^OnlyOne}}
</div>
{{/OnlyOne}}
{{/gbcs}}
{{^multiples}}
</div>
{{/multiples}}
